name: flutterha
description: "Work From Home Activity Tracker"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  geolocator: ^13.0.1          #(GPS)
  shared_preferences: ^2.3.2   #(Local Storage)
  flutter_local_notifications: ^17.2.1 #(Notifications)
  firebase_analytics: ^11.3.3  #(Analytics)
  #firebase_core: ^3.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true